*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(137, 137, 52);
    text-align: center;
}
.container{
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 6vmin;
    color:chocolate;
    background-color: aquamarine;
}
.result{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
#winner{
    color: antiquewhite;
    font-size: large;
    font-weight: bold;
}
.hide{
    display: none;
}
.reset{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: black;
    color: aliceblue;
    
}
.newbutton{
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: black;
    color: aliceblue;
}